/******************
Fonts by Nirvan
******************/

@font-face {
  font-family: 'GlacialIndifference';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/glacialindifference-regular-webfont.woff) format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'GlacialIndifference';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/glacialindifference-bold-webfont.woff) format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Shentox';
  src: url('../fonts/Shentox-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Shentox';
  src: url('../fonts/Shentox.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Shentox';
  src: url('../fonts/Shentox-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Shentox';
  src: url('../fonts/Shentox-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}



